html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1; /* this makes the flex container look organized */
  justify-content: center;
  align-items: center;
  display: flex; /* this makes the flex children look centered */
  flex-direction: column; /* this makes the flex children look in the middle and in colums */
}

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1586196877083-6a4e8a995cf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=574&q=80);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1526635090919-b5d79657c5a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=800);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1571751796794-b490bc34f249?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1598121876884-f4573ed0b9f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
}
.panel5 {
  background-image: url(https://www.fcbarcelona.com/photo-resources/2021/08/05/e373dc9b-d28e-4b67-bf96-1996051d6e82/ad-u-Messi.jpg?width=1200&height=750);
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.panel > *:first-child {
  transform: translateY(-100%); /* This takes the top of the panel away */
}

.panel.open-active > *:first-child {
  transform: translateY(0); /* This makes the top of the panel come together */
}

.panel > *:last-child {
  transform: translateY(100%); /* This takes the bottom of the panel away */
}
.panel.open-active > *:last-child {
  transform: translateY(
    0
  ); /* This makes the bottom of the panel come together */
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5; /* when the flex container is open then the panel is opening a bit wider*/
  font-size: 40px;
}
